* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    overflow-anchor: none;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

ul {
  list-style: none;
}

